<table class="table table-hover" id="tabelaProdutos">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Valor</td>
            </tr>
        }
    </tbody>

</table>

